<button *ngIf="viewBotton" (click)="openFullscreen()"> fullscreen </button>

<div class="barcode" *ngIf="gallery && gallery.barcode; else notBarcode">
    <ngu-carousel *ngIf="loading" #myCarousel [inputs]="carouselBanner" id="mygallery" [dataSource]="images">
        <div *nguCarouselDef="let item;" class="item">
            <div class="tile" style="height:  100vh;background-position: bottom;"  [style.background-image]="'url('+ item +')'">
                <div class="row" style="margin-bottom: auto; margin-top:4%">
                    <div *ngIf="article" class="col-12">
                        <h1 style="color:white">{{article.description}}</h1>
                        <img *ngIf="makeImage" [src]="apiURL + 'get-image-make/'+makeImage+'/'+database" style="height:35vh" width="auto">
                        <img *ngIf="articleImage" [src]="apiURL + 'get-image-article/'+articleImage+'/'+database" style="height:35vh" width="auto">
                        <h3 style="color:white;font-size: 50px;font-weight: bold;">{{article.salePrice | currency:'USD':'symbol-narrow':'1.2-2'}}</h3>
                        <p [innerHTML]="article?.observation"></p>
                    </div>
                    <div class="col-12" style="font-size: 27px;font-weight: bold;color: white;">
                        <label> Ingrese codigo de barra </label>
                        <input type="text" class="form-control" [(ngModel)]="filterArticle" (keydown.enter)="getArticle()" [focus]="qfocusEvent">
                    </div>
                </div>
            </div>
        </div>
    </ngu-carousel>
</div>
<ng-template #notBarcode>
    <ngu-carousel *ngIf="loading" #myCarousel [inputs]="carouselBanner" id="mygallery" [dataSource]="images">
        <div *nguCarouselDef="let item;" class="item">
            <div class="tile"  style="height:  100vh;" [style.background-image]="'url('+ item +')'"></div>
        </div>
    </ngu-carousel>
</ng-template>