<button *ngIf="viewBotton" (click)="openFullscreen()"> fullscreen </button>

<div class="barcode" *ngIf="gallery && gallery.barcode; else notBarcode">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <div *ngIf="article" class="col-12">
                <h1>{{article.description}}</h1>
                <img *ngIf="makeImage"
                [src]="apiURL + 'get-image-make/'+makeImage+'/'+database" height="350" width="400">
                <img *ngIf="articleImage"
                    [src]="apiURL + 'get-image-article/'+articleImage+'/'+database" height="350" width="400">
                <h3>{{article.salePrice | currency:'USD':'symbol-narrow':'1.2-2'}}</h3>
                <p [innerHTML]="article?.observation"></p>
            </div>
            <div class="col-12 mx-3">
                <label> Ingrese codigo de barra </label>
                <input type="text" class="form-control" [(ngModel)]="filterArticle" (keydown.enter)="getArticle()"
                    [focus]="focusEvent">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<ng-template #notBarcode>
    <ngu-carousel *ngIf="loading" #myCarousel [inputs]="carouselBanner" id="mygallery" [dataSource]="images">
        <div *nguCarouselDef="let item;" class="item">
            <div class="tile"  style="height:  100vh;" [style.background-image]="'url('+ item +')'"></div>
        </div>
    </ngu-carousel>
</ng-template>